
/* .item-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */

.main-container{
  background: rgb(104,122,37);
  background: linear-gradient(190deg, rgba(104,122,37,1) 0%, rgba(166,214,186,1) 11%, rgba(183,203,116,1) 45%, rgba(176,213,54,1) 64%, rgba(122,121,139,1) 95%, rgba(0,212,255,1) 100%);
  padding-bottom:100px;
}

.amazon-prime-image{
  width: 100%;
  object-fit: cover;
  margin-bottom:-160px;
  mask-image: linear-gradient(to top,transparent,rgb(0, 0, 0, 100));
}

.home-row{
  padding:0px 0px;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  z-index: 1;
  margin-top: 40px;
}




