.product{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 20px;
  width: 100%;
  min-width: 100px;
  background-color: rgb(255, 255, 255);
  box-shadow: -2px 6px 18px -9px rgba(0,0,0,1);
  padding: 20px 25px;
  transition: transform 0.1s ease-in;
  z-index:1;
  max-height: 400px;
  justify-content: flex-end;
}

.product-info{
  text-align: left;
}

.details-text{
  color: rgb(24, 22, 22);
  font-family: Arial, Helvetica, sans-serif;
}

small{
  font-size: 17px;
}

strong{
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-rating{
  display: flex;
  margin: 5px;
}

.product-image{
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 10px;
}

.product-btn{
  display: block;
  margin: 0 auto;
  background-color: rgb(178, 195, 32);
  border: none;
  padding: 5px 10px;
  margin-top: 15px;
  border-radius: 5px;
  color: rgb(236, 234, 234);
  font-weight: bold;
  cursor: pointer;
}

.product-btn:hover{
  background-color: rgb(214, 232, 57);
}

.product:hover{
  transform:scale(1.05);
  cursor: pointer;
}

